.form {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.email {
  color: aliceblue;
  font-family: noto-sans, sans-serif;
  text-align: center;
}

@media (max-width: 320px){
    .form{
      object-fit: contain;
    }
}